@model IEnumerable<TeaTimeDemo.Models.Survey>

@{
    ViewData["Title"] = "填寫問卷";
}

<h2>填寫問卷</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>標題</th>
            <th>描述</th>
            <th>建立人</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var survey in Model)
        {
            <tr>
                <td>@survey.Title</td>
                <td>@survey.Description</td>
                <td>@survey.ApplicationUser?.Name</td>
                <td>
                    <a href="@Url.Action("TakeSurvey", "Answer", new { id = survey.Id })" class="btn btn-primary">填寫問卷</a>
                </td>
            </tr>
        }
    </tbody>
</table>
